/* Reset some basic elements */
body, h1, h2, h3, p, ul, li, label, select, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General body styling */
body {
    font-family: Arial, sans-serif;
    background-image: url('menus.jpg');
    background-size: cover;
    background-position: center;
    color: #333;
}

/* Header styling */
header {
    background-color: #f8f9fa;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.logo h1 {
    margin: 0;
    padding: 0;
    color: #333;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: #007bff;
}


/* Menu items container */
.menu-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.menu-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.menu-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.menu-item h2 {
    margin: 10px 0;
}

.menu-item p {
    margin: 10px 0;
    font-size: 16px;
}

.menu-item button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.menu-item button:hover {
    background-color: #218838;
}

/* Footer styling */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: rgba(74, 75, 76, 0.8);
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
