/* Common styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('menus.jpg'); /* Replace 'background-image.jpg' with the path to your image */
    background-size: 100%;
    background-position: center;
}

header {
    background-color: #f8f9fa;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo h1 {
    margin: 0;
    color: #333;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: xx-large;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: x-large;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: #007bff;
}
.menu-items {
    /* Set maximum height for the container */
    overflow-y: auto; /* Enable vertical scrollbar if needed */
    font-size: x-large;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-bottom:wheat /* Add a border between menu items */
}

.menu-item img {
    max-width: 50%;
    height: auto;
    margin-bottom: 10px;
}

.menu-item h2 {
    margin: 5px 0;
}

.menu-item p {
    margin: 5px 0;
}

.menu-item button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.menu-item button:hover {
    background-color: #45a049;
}

footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
    color: #666;
}
